@page
@model RPiWebsiteNET5.Pages.Users.DetailsModel

@using RPiWebsiteNET5.Identity.Extensions

@{
    ViewData["Title"] = "Details";
}
@if (@User.GetClaimBoolValue("IsAdmin")) 
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Users/Index">Manage Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Details</li>
        </ol>
    </nav>
}
<div class="row">
    <div class="col-12">
        <h1>Details</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>User</h4>
    </div>
</div>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UserVM.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UserVM.FirstName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UserVM.MiddleName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UserVM.MiddleName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UserVM.LastName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UserVM.LastName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UserVM.Email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UserVM.Email)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UserVM.Username)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UserVM.Username)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UserVM.IsAdmin)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UserVM.IsAdmin)
    </dd>
</dl>

<a asp-page="./Edit" asp-route-id="@Model.UserVM.ID">Edit</a>
